@import "variables";
@import "mixins";

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    width: $standart-container;
}

.article-title{
    @include standart-link-and-header;
}



@media (max-width: 990px){
    .container{
        width: $standart-small-container;
    }
}

@media (max-width: 830px){
    .container{
        width: $standart-smallest-container;
    }
}

@media (max-width: 730px){
    .container{
        width: $tablet-container;
    }
}

@media (max-width: 630px){
    .container{
        width: $tablet-small-container;
    }
}

@media (max-width: 530px){
    .container{
        width: $tablet-smallest-container;
    }
}

@media (max-width: 430px){
    .container{
        width: $phone-container;
    }
}

@media (max-width: 355px){
    .container{
        width: $phone-small-container;
    }
}