$rss: orange;
$facebook: rgb(106, 106, 204);
$twitter: rgb(92, 183, 240);
$dribbble: rgb(250, 159, 174);
$pinterest: rgb(219, 0, 0);

.rss{
    color: $rss;
    border-color: $rss;
}

.facebook{
    color: $facebook;
    border-color: $facebook;
}

.twitter{
    color: $twitter;
    border-color: $twitter;
}

.dribbble{
    color: $dribbble;
    border-color: $dribbble;
}

.pinterest{
    color: $pinterest;
    border-color: $pinterest;
}