@import "mixins";
@import "variables";

.instagram-shots{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0 0 40px 0;
}

.instagram-shots .container{
    margin: 0 auto;
}

.instagram-shots__header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 15px 0;
}

.instagram-shots__header h5:hover{
    color: $highlighted-link;
}

.instagram-shots__photos{
    display: flex;
    justify-content: space-between;
}

.instagram-shots__photos img{
    max-width: 230px;
}

@media (max-width: 990px){
    .instagram-shots__photos img{
        width: 190px;
    }
}

@media (max-width: 830px){
    .instagram-shots__photos img{
        width: 225px
    }

    .instagram-shots__photos img:last-child{
        display: none;
    }
}

@media (max-width: 767.99px){
    .go-to-instagram{
        display: none;
    }
}

@media (max-width: 730px){
    .instagram-shots__photos img{
        width: 190px;
    }
}

@media (max-width: 630px){
    .instagram-shots__photos img{
        width: 225px;
    }

    .instagram-photo__pre-last{
        display: none;
    }
}

@media (max-width: 530px){
    .instagram-shots__photos img{
        width: 190px;
    }
}

@media (max-width: 430px){
    .instagram-shots__photos img{
        width:  350px;
    }
    
    .instagram-shots__photos img:first-child{
        margin: 0 auto;
    }

    .instagram-photo__second{
        display: none;
    } 
}
