@import "mixins";
@import "variables";

.recent-posts{
    padding: 50px 0;
}

.recent-posts__columns{
    display: flex;
    justify-content: space-between; 
}

.recent-posts__post{
    @include flex-center;
    max-width: 600px;
}

.recent-posts__post-text{
    padding: 0px 20px;
}

.post-text__title{
    color: $links-and-headers-color;
}

.recent-posts__post:hover .post-text__title{
    color: $highlighted-link;
}

.post-text__theme{
    font-size: 12px;
    color: #7C7C7C;

}

.post-text__desc{
    font-size: 14px;
    color: #5C5C5C;
}

@media (max-width: 768px){
    .recent-posts__columns{
        display: block; 
    }

    .recent-posts__post{
        padding: 10px 0;
    }
}

@media (max-width: 430px){
    .post-text__desc{
        display: none;
    }

    .recent-posts__post{
       flex-direction: column;
       
    }

    .recent-posts__post-text{
        padding-left: 0;
    }

    .recent-posts__post img{
        margin-right: auto;
        
    }
}