@import "mixins";
@import "variables";


.main{
    @include flex-center;

    margin: 0 auto;

    flex-direction: column;
    
}

.intro-img{
    width: $standart-container;
}

@media (max-width: 990px){
    .intro-img{
        width: $standart-small-container;
    }
}

@media (max-width: 830px){
    .intro-img{
        width: $standart-smallest-container;
    }
}

@media (max-width: 730px){
    .intro-img{
        width: $tablet-container;
    }
}

@media (max-width: 630px){
    .intro-img{
        width: $tablet-small-container;
    }
}

@media (max-width: 530px){
    .intro-img{
        width: $tablet-smallest-container;
    }
}

@media (max-width: 430px){
    .intro-img{
        width: $phone-container;
    }
}

@media (max-width: 355px){
    .intro-img{
        width: $phone-small-container;
    }
}