@import "variables";

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin standart-link-and-header{
    text-decoration: none;
    color: $links-and-headers-color;
    text-transform: uppercase;
    font-weight: bold;
}
