@import "mixins";

.nav-menu{
   
    @include flex-center;
    position: relative;
    padding: 30px;
}

.nav-menu__links{
    @include flex-center;
}

.nav-menu__links a{
    @include standart-link-and-header;
    display: block;
    font-size: 11px;
    padding: 25px;
}

.nav-menu__links a:hover{
    color: $highlighted-link;
}

.nav-menu__burger-menu{
    background-color: black;
    color: white;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}

@media (min-width: 768px){
    .nav-menu__burger-menu{
        display: none;
    }
    
}

@media (max-width: 768px){
    .nav-menu__burger-menu{
        margin-left: auto;
    }
    .nav-menu__links{
        position: absolute;
        flex-direction: column;
        right: 0;
        transform: translate(-23.5%, 55%);
        background-color:#F5F5F5;

    }

    .nav-menu__links a{
        margin-right: auto;
    }

    .nav-menu__links a:hover{
        background-color: #E5E5E5;
    }
}