$standart-container: 960px;
$standart-small-container: 800px;
$standart-smallest-container: 700px;
$tablet-container: 600px;
$tablet-small-container: 500px;
$tablet-smallest-container: 400px;
$phone-container: 330px;
$phone-small-container: 280px;
$links-and-headers-color:#4E4E4E;
$highlighted-link:#57A4A4;

