body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get_ip{
    margin: 0 auto;
    width: 50vw;
    font-size: 50px;
    border-radius: 20px;
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.39);
    background-color: aqua;
    color: white;
    cursor: pointer;
}