.advantages-blocks{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.advantages-blocks div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 25%;
    text-transform: uppercase;
}

.advantages-blocks div.dark{
    background-color: rgb(28,42,51);
}

.advantages-blocks div.lightgr{
    background-color: rgb(24,207,171);
    color: white;
}

.advantages-blocks div i{
    margin-bottom: 20px;
}