.breaking-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.breaking-news .img-box .block{
    
    margin: 10px;
    display: inline-block;
}

.article-title{
    margin-left: 3px;
    font-weight: 750;

}

.article-source{
    margin-left: 3px;
    font-size: 12px;
    color: rgb(119,119,119);
}

.breaking-news .img{
    position: relative;
}

.breaking-news .img div{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.breaking-news .img .green-back{
    background-color: rgb(24,207,171);
}
