body{
    font-family: Arial;
    
}

.green{
    color: rgb(24,207,171);
}

.button{
    background-color: rgb(24,207,171,1);
    border-radius: 5%;
    border: none;
    border-top: 2px solid white;
    padding: 1vw;
    outline: none;
    font-size: small;
    font-weight: bold;
}

header{
    background-image: url(../images/SectionsBackground/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.title{
    padding: 60px 0;
    font-size: xx-large;
    color: rgb(78,78,78);
    font-weight: 400;
}

.container{
    width: 1160px;
}