.our-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.our-services .body .buttons{
    display: flex;
    justify-content: center;
}


.our-services .body .buttons button{
    border: none;
    font-size: 15px;
    padding: 15px 50px;
    
    margin-bottom: 20px;
    
}

.our-services .body ul li{
    display: none;
}

.our-services .body ul .active{
    display: flex;
}


.our-services .body .buttons button{
    background-color: rgb(248,252,254);
    border: 1px solid #EDEFEF;
    outline: none;
    color: rgb(113,113,113);
}

.our-services .body .buttons button:hover{
    border-color: rgb(24,207,171);
}

.our-services .body .buttons .active-btn{
    background-color: rgb(24,207,171);
    color: white;
}

.our-services img{
    margin-right: 5px;
}