.our-amazing-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}



.our-amazing-work .buttons{
    margin-bottom: 60px;
}

.our-amazing-work .buttons button{
    background-color: rgb(248,252,254);
    border: 1px solid #EDEFEF;
    outline: none;
    color: rgb(113,113,113);
    padding: 20px;
}

.our-amazing-work .buttons .active{
    border: 1px solid rgb(24,207,171);
    color: rgb(24,207,171);
}

.our-amazing-work .inactive{
    display: none;
}

.load-more{
    text-transform: uppercase;
    color: white;
    margin-top: 60px;
    
    
}