.top{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.top-content{
    display: flex;
    flex-direction: column;
}

.top-content .top-cont-text{
    text-align: center;
    margin: 2vh 0;
}

.big-white{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.buttons div{
    margin: 1vw;
}