.what-say{
    background-image: url(../images/SectionsBackground/section-3.jpg);
    background-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.what-say .title{
    color: white;
    margin-bottom: 30px;
    
}

.what-say .quote, .job{
    margin: 20px 200px;
    color: rgb(187,187,187);
    text-align: center;
    
}

.what-say .name{
    text-transform: uppercase;
    font-weight: 750;
    margin: 20px 0;
}

.what-say .control-bar{
    margin: 20px 0;
}

.what-say .control-bar img{
    margin: 10px;
}

.what-say .control-bar .button{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 0;
    font-size: 20px;
}


.what-say .carousel-container{
    width: 1160px;
    margin: auto;
    overflow: hidden;
}

.what-say .carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}

.what-say .slider-elem{
    min-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-around;
}

.what-say .selected-img{
    border: 3px solid rgb(24,207,171,1);
    border-radius: 100%;;
}