body{
    font-family: Arial;
margin: 0;
}

#big-header{
    display: flex;
   
    font-size: 13px;
    text-align: center;

    z-index: 1;
    
    
}

.logo{
    padding: 5px 10px;
    text-transform: uppercase;
}

.nav{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    text-decoration: none;
    
    font-size: 15px;
    text-transform: uppercase;
    
}

.leftside{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rightside{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rightside button{
    padding: 20px;
    
}



.call{
  padding-right: 10%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
 
  width: 100%;
  
}

.call-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
font-size: 40px;
display: inline-block;
padding-left: 10%;
}

.underlogo{
font-size: 12px;
text-align: right;
}



.round{
    
    border-radius: 100%;
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 5px 15px;
   
   text-align: center;
    
}

#roundblock{
    display: flex;
    justify-content: center;
}

.round-text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: auto;
    width: 5vw;
    height: 5vw;
}

.underround{
    text-align: center;
    color: rgb(122, 122, 122);
    
}

.underround div{
    margin: 5px 20px;
    text-align: center;
}


#sofa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    
}

.sofaleft{
  
    
    padding: 10% 10%;
    font-size: 2vw;
    
}

.sofaright{
    width: 50%;
    margin-left: auto;
    background-color: rgb(179, 233, 230);
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.sofaright img{
    position: relative;
    right: 30%; 
    width: 40vw;
}

#work{
    text-align: center;
}


#work i{
    color: rgb(75, 75, 75);
    
}

#work b{
    text-transform: uppercase;
}

#work p{
    color: rgb(122, 122, 122);
}

#small-header{
    display: none;
}

@media (max-width: 1037px) { 
    #big-header{
        display: none;
    }

    #small-header{
        display: flex;
        z-index: 1;
    }
 }

 .burger{
     font-size: 40px;
     padding-right: 20%;
 }

.burger-menu-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    #burger-menu{
        
        flex-direction: column;
        background-color: rgb(221, 255, 244) ;
        padding: 10px;
        z-index: 2;
    }      

       

    .burger-nav{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        padding: 5px;
        text-align: center;
        

        
    }
   
 

    /* Style the navbar */
#big-header, #small-header {
    overflow: hidden;
  
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
   
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

.hide{
    display: none;


    animation-duration: 0.4s;
      animation-name: slideoff;
}

@keyframes slideoff {
    from {
        
     font-size: 15px;
    }
  
    to {
       
        font-size: 1px;
      
    }
  }

  .show{
      display: flex;


      animation-duration: 0.4s;
      animation-name: slidein;
      
      
  }

  @keyframes slidein {
      from {
          
       font-size: 1px;
      }
    
      to {
         
          font-size: 15px;
        
      }
    }

    .fa-phone-alt {
       font-size: 20px;
    }


    .phone{
        width: 40px;
        height: 40px;
        border: 2px solid black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

    #attention-to-details{

        margin: 5% 15% 0% 15%;
        display: flex;
        justify-content: space-between;
    }
   
    

    #attention-to-details img{
       
        width:400px;
        height: 250px;
        
       
    }

    .at-b{
        
        font-size: 25px;
    }

    .at-sm{
        color: rgb(94, 94, 94);
    }

    #form{
        display: flex;
        justify-content: space-between;
        margin: 5% 15% 0% 15%;
        
    }

    #form form{
       
        display: flex;
        flex-direction: column;
      
        width: 30%;
        
    }

    #form form .input{
        border: none;
        border-bottom: 0.5px solid rgb(172, 172, 172); 
        margin-bottom: 3px;
    }


    .submit{
        margin-top: 8px;
        border: none;
        
        background-color: rgb(59, 59, 59);
        color: white;
        padding: 5px 1px;
    }

    .form-b{
        font-size: 30px;
        margin-bottom: 5px;
    }

    #form img{
        width:270px;
        height: 270px;
       margin-bottom: 10px;
       
    }

#footer{
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(218, 218, 218);
        height: 55px;
}

    
    .f-text{
        color: grey;
        
    }

    .icons{
        position: relative;
        left: 30%;
    }

    .icons a img{
        
        width: 50px;
    }