.common{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box{
    background-color: rgb(245, 167, 167);
    color: white;
    padding: 10px;
  display: inline-block;
}

.input-green{
    border: 5px solid green;
}

.input-success{
    color: rgb(69, 250, 69);
}


.input-fail{
    border: 5px solid red;
}

.span{
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
}

.x{
    border: 1px solid blACK;
    border-radius: 100%;
    padding: 3px;
}